body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-rendering: optimizeLegibility;
}

.gutter {
    width: 10%;
    float: left;
    min-height: 100px;
}

.content {
    width: 80%;
    min-height: 100px;
    float: left;
    margin-top: 20px;
}

.posts-container {
    width: 25%;
    min-height: 100px;
    float: left;
}

.transcript {
    width: 50%;
    min-height: 100px;
    float: left;
    font-size: 1.1em;
}

.header {
    padding: 1em 0;
}

.annotation {
    background-color: yellow;
    padding: 3px;
}

.tweet {
    width: calc(100% - 40px);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    box-shadow: 0 1px 5px lightgrey;
    background-color: #192841;
    color: white;
    font-size: 1em;
}

.tweet-header {
    height: fit-content;
    width: 100%;
    min-height: 50px;;
}

.profile-pic {
    width: 20%;
    float: left;
}

.profile-header {
    width: calc(80% - 20px);
    height: fit-content;
    min-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.profile-header>p {
    margin: 0px;
    padding: 0px;
}

.user-nicename {
    font-size: 16px;
}

.username {
    font-size: 12px;
    color: lightgrey;
}

.footer {
    background: #f4f4f4;
    text-align: center;
    font-size: 0.8em;
    margin-top: 4em;
    padding: 4em 0;
}

figure {
    margin: 0;
    padding-bottom: 1.2em;
}

figcaption {
    font-size: 0.8em;
    text-align: center;
    margin-top: 0.5em;
    color: #666;
}

h1 {
    font-family: 'Lora', Georgia, serif;
    font-weight: bold;
    font-size: 1.75em;
    line-height: 1.1;
}

.subhead {
    font-family: 'Lora', Georgia, serif;
    border: 2px solid black;
    padding: 10px;
}

iframe,
img,
video {
    max-width: 100%;
}

p {
    line-height: 1.6;
    margin: 0;
    padding-bottom: 1.2em;
}

ul {
    margin: 0;
    padding-bottom: 1em;
    line-height: 1.6;
}

iframe {
    padding-bottom: 1.2em;
}

code {
    font-family: 'Courier New', monospace;
    background: #fffbaf;
    font-size: 0.85em;
}

.full-width figure {
    text-align: center;
}

/* margin on mobile */
@media (max-width: 640px) {
    body {
        font-size: 18px;
    }

    .content {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}